


<img src="~/images/Invest.jpg" width="1000" />

<div class="col-md-4">
    @*<h2>Get more libraries</h2>*@
    @*<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>*@
    <p><a class="btn btn-default" href="/Apply/Index" style="width:500px;height:100px"><font size="150">立即投資&raquo;</font> </a></p>
</div>